<!DOCTYPE html>
<html lang="pt-BR">
    <body>
        <div class="flex flex-col items-center justify-center h-full bg-gradient-to-b from-blue-300 via-blue-600 to-blue-700">
            <button phx-click="home" class="mt-8 p-4 bg-gradient-to-br from-red-700 to-red-500 hover:p-5 hover:from-red-900 hover:to-red-600 rounded-xl shadow-xl">
                Voltar para o ínício 🏠.
            </button>

            <p class="mt-32 font-bold font-serif md:text-4xl text-2xl px-4 text-center underline">{"#{@name} da paz."}</p>
            <img alt="Face 1" src="/images/face1.jpg" class="rounded-xl shadow-2xl md:h-[32rem] h-[18rem] object-contain -rotate-90"/>

            <p class="mt-24 font-bold font-serif md:text-4xl text-2xl px-4 text-center underline">{"#{@name} do comando vermelho."}</p>
            <img alt="Face 2" src="/images/face2.jpg" class="rounded-xl shadow-2xl md:h-[32rem] h-[18rem] object-contain -rotate-90"/>

            <p class="mt-24 font-bold font-serif md:text-4xl text-2xl px-4 text-center underline">{"#{@name} no snapchat."}</p>
            <img alt="Face 3" src="/images/face3.jpg" class="rounded-xl shadow-2xl md:h-[32rem] h-[18rem] object-contain -rotate-90"/>

            <p class="mt-24 font-bold font-serif md:text-4xl text-2xl  px-4 text-center underline">{"#{@name} doga."}</p>
            <img alt="Face 4" src="/images/face4.jpg" class="rounded-xl shadow-2xl md:h-[32rem] h-[18rem] object-contain -rotate-90"/>

            
            <div>
                <img src="/images/heart_band2.png" class="animate-bounce w-full object-cover">
            </div>
        </div>
    </body>
</html>
