<!DOCTYPE html>
<html lang="pt-BR">
    <body>
        <div class="flex flex-col justify-center items-center h-screen bg-gradient-to-br from-black to-gray-900">

            <div class="flex flex-col md:flex-row justify-center items-center">
                <%= if @index > 0 do %>
                    <button phx-click="previous" class="md:mr-16 md:mt-8 mb-8">
                        <img src="/images/previous.png" class="h-16 md:hover:h-20 hover:none rotate-90 md:rotate-0">
                    </button>
                <% end %>


                <div class="w-[18rem] h-[16rem] md:w-[30rem] md:h-[20rem] bg-gradient-to-br from-gray-200 via-gray-100 to-white rounded-lg shadow-2xl overflow-auto">
                    <pre class="md:text-lg text-[0.8rem] whitespace-pre-wrap break-words max-w-full p-6 font-bold font-sans text-transparent bg-clip-text bg-gradient-to-br from-pink-500 via-red-500 to-purple-600">
        {Enum.at(@card_list, @index)}
                    </pre>
                </div>


                <%= if @index < (length(@card_list) - 1) do %>
                    <button phx-click="next" class="md:ml-16 md:mb-8 mt-8">
                        <img src="/images/next.png" class="h-16 md:hover:h-20 hover:none rotate-90 md:rotate-0">
                    </button>
                <% else %>
                    <button phx-click="bonus" class="md:ml-16 md:mb-8 mt-8 p-2 text-white bg-blue-500 rounded-lg shadow-xl hover:bg-blue-700 hover:p-3">
                        Bônus? 🎉
                    </button>
                <% end %>

            </div>

        <audio src="/audios/song.mp3" class="md:mt-0 mt-16" controls autoplay loop/>
        </div>
    </body>
</html>
