<!DOCTYPE html>
<html lang="pt-BR">
    <body>
        <div class="flex flex-col justify-center items-center h-screen bg-gradient-to-br from-gray-900 to-gray-800 relative">
                <img src="/images/heart_band2.png" class="h-screen object-cover opacity-60 blur">

                <div class="flex flex-col items-center top-[16rem] absolute">
                    <div class="relative">
                        <h1 class="text-[2rem] md:text-[2.3rem] text-center font-bold blur-[0.1rem] top-0 left-0">{"Está preparada #{@name}?"}</h1>
                        <h1 class="ml-[0.7rem] md:ml-[0.4rem] text-[1.88rem] md:text-4xl text-center font-bold bg-clip-text bg-gradient-to-br text-transparent from-pink-500 to-purple-700 absolute top-0 left-0">{"Está preparada #{@name}?"}</h1>
                    </div>

                    <a href="/cards" class="mt-[12rem] bg-gradient-to-br from-red-700 to-red-500 text-lg text-white rounded-lg shadow-xl p-2 hover:p-3 hover:from-red-900 hover:to-red-600 absolute">
                        Começar 💛
                    </a>
                </div>

        </div>
    </body>
</html>
