<!DOCTYPE html>
<html lang="pt-BR">
    <body>
        <div class="flex flex-col items-center justify-center h-full bg-blue-500">
            <p class="mt-12 font-bold font-serif text-4xl">{"#{@name} da paz."}</p>
            <img alt="Face 1" src="/images/face1.jpg" class="h-[32rem] object-contain -rotate-90"/>

            <p class="font-bold font-serif text-4xl">{"#{@name} do comando vermelho."}</p>
            <img alt="Face 2" src="/images/face2.jpg" class="h-[32rem] object-contain -rotate-90"/>

            <p class="font-bold font-serif text-4xl">{"#{@name} no snapchat."}</p>
            <img alt="Face 3" src="/images/face3.jpg" class="h-[32rem] object-contain -rotate-90"/>

            <p class="font-bold font-serif text-4xl">{"#{@name} doga."}</p>
            <img alt="Face 4" src="/images/face4.jpg" class="h-[32rem] object-contain -rotate-90"/>

            
            <div class="">
                <img src="/images/heart_band2.png" class="animate-bounce w-full object-cover">
            </div>
        </div>
    </body>
</html>
